{{#if connections}}
  <div class="panel panel-default">
    <table class="table">
      <thead>
        <tr>
        <th></th>
        <th class="text_right">You owe<br><small class="text-muted">{{selected_currency}}</small></th>
        <th class="text_right">You get<br><small class="text-muted">{{selected_currency}}</small></th>
        <!--<th class="text_right">Balance</th>-->
        </tr>
      </thead>
      <tbody>
        {{#each connections}}
          <tr>
          <td>{{#if contact}}<a href="#connection/{{primary_identifier}}">{{/if}}{{name}}{{#if contact}}</a>{{/if}} {{#unless favorite}}<span class="glyphicon glyphicon-thumbs-down"></span>{{/unless}} {{#if unprocessed}}<span class="label label-info">queued</span> {{/if}}</td>
          <td class="text_right">{{#if balance_negative}}<span class="text-danger">{{balance_formatted}}</span>{{/if}}</td>
          <td class="text_right">{{#unless balance_negative}}<span class="text-success">{{balance_formatted}}</span>{{/unless}}</td>
          <!-- <td class="text_right"><span class="text-{{#if balance_negative}}danger{{else}}success{{/if}}">{{balance_formatted}}</span></td> -->
          </tr>
        {{/each}}
        <tr class="active text_bold">
          <td>Sum</td>
          <td class="text_right"><span class="text-danger">{{#if balances.owe_active}}{{balances.owe_formatted}}{{/if}}</span></td>
          <td class="text_right"><span class="text-success">{{#if balances.get_active}}{{balances.get_formatted}}{{/if}}</span></td>
          <!-- <td class="text_right"><span class="text-{{#if balances.balance_negative}}danger{{else}}success{{/if}}">{{balances.balance_formatted}}</span></td> -->
        </tr>
        <tr class="text_bold">
          <td>Balance</td>
          <td class="text_right"><span class="text-danger">{{#if balances.balance_negative}}{{balances.balance_formatted}}{{/if}}</span></td>
          <td class="text_right"><span class="text-success">{{#unless balances.balance_negative}}{{balances.balance_formatted}}{{/unless}}</span></td>
          <!-- <td class="text_right"><span class="text-{{#if balances.balance_negative}}danger{{else}}success{{/if}}">{{balances.balance_formatted}}</span></td> -->
        </tr>
      </tbody>
     </table>
  </div>
  {{#if multiple_currencies}}<a href="#balance">Go back</a>{{/if}}
{{else}}
  <p>You do not get anything or owe anyone in this currency.</p>
  <a href="#balance">Go back</a>
{{/if}}
