<ol class="breadcrumb">
  <li><a href="#settings">Settings</a></li>
  <li class="active">Connections</li>
</ol>

{{#if connections}}
  <div class="list-group">
    {{#each connections}}
      <a href="#connection/{{id}}" class="list-group-item">
        <div class="row">
          <div class="col-xs-9">
            <h5 class="list-group-item-heading">
              {{#if friendly_name}}{{friendly_name}}{{else}}{{name}}{{/if}}
            </h5>
            {{#each identifiers}}
              {{#if active}}<p class="list-group-item-text">{{identifier}}</p>{{/if}}
            {{/each}}
          </div>
          <div class="col-xs-3">
            <p class="text-right">
              {{#if limits}}<span class="glyphicon glyphicon-transfer text-muted icon_size"></span>{{/if}}
              {{#if favorite}}<span class="glyphicon glyphicon-star connections_yellow icon_size"></span>{{/if}}
            </p>
          </div>
        </div>
      </a>
    {{/each}}
  </div>


{{else}}
  <p>No contacts to display: you probably did not send or receive a memo yet.</p>
{{/if}}
