<ol class="breadcrumb">
  <li><a href="#settings">Settings</a></li>
  <li><a href="#connections">Contacts</a></li>
  <li class="active">{{#if connection}}{{connection.effective_name}}{{/if}}</li>
</ol>

{{#if connection}}
  <form role="form" id="connection_form" class="form-horizontal">
    <div class="form-group" id="connection_name_group">
      <label class="col-sm-2 control-label" for="connection_name">Name</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="connection_name" placeholder="{{connection.name}}" value="{{connection.friendly_name}}">
      </div>
    </div>
    <div class="form-group" id="connection_identifier_group">
      <label class="col-sm-2 control-label">Email address(es)</label>
      <div class="col-sm-8">
        {{#each connection.identifiers}}
          {{#if active}}
            <p class="form-control-static">{{identifier}}</p>
          {{else}}
            <p class="form-control-static"><s>{{identifier}}</s></p>
          {{/if}}
        {{/each}}

      </div>
    </div>
    <div class="form-group" id="connection_favorite_group">
      <label class="col-sm-2 control-label" for="connection_favorite">Potential defaulter</label>
      <div class="col-sm-8" id="connection_favorite">
        <div class="btn-group" data-toggle="buttons" id="favorite_div">
          <label class="btn btn-default {{#if connection.favorite}}active{{/if}}">
            <input type="radio" name="favorite" id="favorite_1" value="1" autocomplete="off" {{#if connection.favorite}}checked{{/if}}> No
          </label>
          <label class="btn btn-default {{#unless connection.favorite}}active{{/unless}}">
            <input type="radio" name="favorite" id="favorite_0" value="0" autocomplete="off" {{#unless connection.favorite}}checked{{/unless}}> Yes
          </label>
        </div>
        <span class="help-block">SettlePad will try to minimize the amount you receive from this contact (at the expense of receiving more from others in your contact list).</span>

      </div>
    </div>
    <div class="form-group" id="connection_limit_group">
      <label class="col-sm-2 control-label" for="connection_limit">Auto accept memos</label>
      <div class="col-sm-8" id="connection_limit">
        <div class="btn-group" data-toggle="buttons" id="auto_accept_div">
          <label class="btn btn-default {{#if auto_accept_manual}}active{{/if}}">
            <input type="radio" name="auto_accept" id="auto_accept_0" value="0" autocomplete="off" {{#if auto_accept_manual}}checked{{/if}}> Never
          </label>
          <label class="btn btn-default {{#if auto_accept_up_to_limit}}active{{/if}}">
            <input type="radio" name="auto_accept" id="auto_accept_1" value="1" autocomplete="off" {{#if auto_accept_up_to_limit}}checked{{/if}}> Up to limit
          </label>
          <label class="btn btn-default {{#if auto_accept_automatic}}active{{/if}}">
            <input type="radio" name="auto_accept" id="auto_accept_2" value="2" autocomplete="off" {{#if auto_accept_automatic}}checked{{/if}}> Always
          </label>
        </div>
        <br/><br/>
        <div id="limits_table">
          <div class="input-group bottom15" id="connection_amount_group">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span id="connection_currency">{{default_currency}}</span> <span class="caret"></span></button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="javascript:connection_set_currency('USD');">USD</a></li>
                <li><a href="javascript:connection_set_currency('GBP');">GBP</a></li>
                <li><a href="javascript:connection_set_currency('EUR');">EUR</a></li>
                <li class="divider"></li>
                <li><a href="javascript:connection_show_currency_form();">Other</a></li>
              </ul>
            </span>
            <input type="text" class="form-control" id="connection_amount" placeholder="Limit">
            <span class="input-group-btn">
              <a href="javascript:void(0);" onclick="connection_submit('{{connection.primary_identifier}}','limit');" class="btn btn-primary" type="button">Add</a>
            </span>
          </div>
          <div class="input-group hidden bottom15" id="connection_currency_group">
            <input type="text" class="form-control" value="{{default_currency}}" id="connection_currency_input" placeholder="Currency">
            <span class="input-group-btn">
              <a href="javascript:void(0);" onclick="connection_parse_currency();" class="btn btn-primary" type="button">Set</a>
            </span>
          </div>

          <ul class="list-group">
            {{#each connection.limits}}
              <li class="list-group-item">
                <div class="row">

                  <div class="col-xs-9">
                    {{@key}} {{this}}
                  </div>
                  <div class="col-xs-3 text-right">
                    <a href="javascript:connection_remove_limit('{{../connection.primary_identifier}}','{{@key}}');"><span class="glyphicon glyphicon-remove text-muted"></span></a>
                  </div>
                </div>
              </li>
            {{/each}}
          </ul>
          <span class="help-block">SettlePad will automatically accept incoming memos until the sum of the last 24 hours crosses the specified (positive) limit.</span>
        </div>
      </div>
    </div>
    <div class="form-group" id="connection_delete_group">
      <label class="col-sm-2 control-label" for="connection_delete">Delete</label>
      <div class="col-sm-8" id="connection_delete">
        <a href="javascript:connection_remove_modal();" class="btn btn-danger">Remove contact</a>
      </div>
    </div>
  </form>

{{else}}
  <p>The contact does not exist.</p>
{{/if}}


<!-- Modals -->
  <div class="modal" id="connectionRemoveModal" tabindex="-1" role="dialog" aria-labelledby="connectionRemoveModalTitle">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="connectionRemoveModalTitle">Remove contact</h4>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to remove {{#if connection}}{{connection.effective_name}}{{/if}} as a contact?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <a href="javascript:connection_remove('{{connection.primary_identifier}}');" role="button" class="btn btn-danger">Remove</a>
        </div>
      </div>
    </div>
  </div>
