<ol class="breadcrumb">
  <li><a href="#settings">Settings</a></li>
  <li class="active">Connections</li>
</ol>

{{#if connections}}
  <div class="list-group">
    {{#each connections}}
      <a href="#connection/{{id}}" class="list-group-item">
        <span class="connections_star">
          <span class="glyphicon {{#if favorite}}glyphicon-star connections_yellow{{else}}glyphicon-star-empty text-muted{{/if}} connections_star"></span>
        </span>

        <h5 class="list-group-item-heading">
          {{name}}
        </h5>
        {{#each identifiers}}
            {{#if active}}<p class="list-group-item-text">{{identifier}}</p>{{/if}}
        {{/each}}
      </a>
    {{/each}}
  </div>


{{else}}
  <p>No contacts to display: you probably did not send or receive a memo yet.</p>
{{/if}}
