<ol class="breadcrumb">
  <li><a href="#settings">Settings</a></li>
  <li><a href="#connections">Connections</a></li>
  <li class="active">{{#if connection.friendly_name}}{{connection.friendly_name}}{{else}}{{connection.name}}{{/if}}</li>
</ol>

{{#if connection}}
  <form role="form" id="connection_form" class="form-horizontal">
    <div class="form-group" id="connection_name_group">
      <label class="col-sm-2 control-label" for="connection_name">Name</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="connection_name" placeholder="{{connection.name}}" value="{{connection.friendly_name}}">
      </div>
    </div>
    <div class="form-group" id="connection_identifier_group">
      <label class="col-sm-2 control-label">Email address(es)</label>
      <div class="col-sm-8">
        {{#each connection.identifiers}}
          {{#if active}}
            <p class="form-control-static">{{identifier}}</p>
          {{else}}
            <p class="form-control-static"><s>{{identifier}}</s></p>
          {{/if}}
        {{/each}}

      </div>
    </div>
    <div class="form-group" id="connection_favorite_group">
      <label class="col-sm-2 control-label" for="connection_favorite">Favorite</label>
      <div class="col-sm-8">
        <a href="javascript:connection_submit('{{connection.id}}','favorite');"><span id="connection_favorite" class="glyphicon {{#if connection.favorite}}glyphicon-star connections_yellow{{else}}glyphicon-star-empty text-muted{{/if}} icon_size"></span></a>
        <p class="form-control-static text-muted small">SettePad allocates as much as possible of the receivables to your starred connections. So now you can pay beer for friend A (who is a lousy debtor to you) and instead, get it back from starred friend B.</p>
      </div>
    </div>
    <div class="form-group" id="connection_limit_group">
      <label class="col-sm-2 control-label" for="connection_limit">Auto accept limits</label>
      <div class="col-sm-8" id="connection_limit">
        {{#each connection.limits}}
          <p class="form-control-static">{{@key}} {{this}}</p>
        {{/each}}
        <p class="form-control-static text-muted small">SettlePad will automatically accept incoming memos until the sum of the last 24 hours crosses the specified (positive) limit.</p>
      </div>
    </div>
  </form>

<!--
  <div class="table-responsive">
    <table class="table table-hover">
  	<thead>
  	  <tr>
  		<th></th>
  		<th>Friendly name</th>
  		<th class="text-nowrap">Auto accept UOMes <a href="javascript:void(0);" tabindex="0" id="connections_popover_auto_accept" data-toggle="popover" data-trigger="focus" title="Auto accept UOMes" data-content="Automatically accept UOMes you receive from a specific connection, up to the specified limit. If activated, IOUs you receive from this connection in your primary currency will always be accepted automatically." data-container="body"  data-placement="bottom"><span class="glyphicon glyphicon-info-sign"></span></a></th>
  		<th class="text-nowrap">Favorite debtor <a href="javascript:void(0);" tabindex="0" id="connections_popover_favorite_debtor" data-toggle="popover" data-trigger="focus" title="Favorite debtor" data-content="SettePad allocates as much as possible of the receivables to your starred connections. So now you can pay beer for friend A (who is a lousy debtor to you) and instead, get it back from starred friend B." data-container="body" data-placement="bottom"><span class="glyphicon glyphicon-info-sign"></span></a></th>
  	  </tr>
  	</thead>
  	<tbody>
      {{#each connections}}
    	  <tr>
      		<td>
      			<ul class="list-unstyled">
      				<li><strong>{{name}}</strong></li>
                {{#each identifiers}}
      				      <li>{{#unless active}}<s>{{/unless}}{{identifier}}{{#unless active}}</s>{{/unless}}</li>
                {{/each}}
      			</ul>
      		</td>
      		<td>
      			<form class="form-inline" role="form">
      				<div class="form-group connections_formgroup">
      					<label class="sr-only" for="connection_name_{{id}}">Friendly name</label>
      					<input type="text" class="form-control connections_name" id="connection_name_{{id}}" placeholder="{{name}}" maxlength="100" value="{{#if friendly_name}}{{friendly_name}}{{/if}}">
      				</div>
      			</form>
      		</td>
      		<td>
      			<form class="form-inline" role="form">
      				<div class="checkbox">
      					<label>
      						<input type="checkbox" class="connections_limit_checkbox" id="connection_auto_accept_{{id}}" {{#if auto_limit}}checked{{/if}}>
      					</label>
      				</div>
      				<div class="form-group connections_formgroup">
      					<label class="sr-only" for="connection_limit_{{id}}">Limit</label>
      					<input type="text" class="form-control connections_limit_inputbox" id="connection_limit_{{id}}" placeholder="Limit [EUR]" value="{{#if auto_limit}}{{auto_limit}}{{/if}}">
      				</div>
      			</form>
      		</td>
      		<td>
      		</td>
    	  </tr>
      {{/each}}
  	</tbody>
    </table>
  </div>
-->
{{else}}
  <p>The contact does not exist.</p>
{{/if}}
