<ol class="breadcrumb">
  <li><a href="#settings">Settings</a></li>
  <li class="active">Identifiers</li>
</ol>

{{#if identifiers}}
  <ul class="list-group">
    {{#each identifiers}}
      <li class="list-group-item">
        <div class="row">
          <div class="col-xs-9">
            {{identifier}} {{#if verified_primary}}<span class="glyphicon glyphicon-ok text-success"></span>{{/if}}
          </div>
          <div class="col-xs-3 text-right more-button-div">
            <div class="dropdown">
              <a data-target="#" href="#identifiers" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-option-horizontal icon_size"></span>
              </a>

              <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="javascript:identifier_change_pwd_modal('{{identifier}}');">Change password</a></li>
                {{#unless verified}}
                  <li><a href="javascript:identifier_verify_modal('{{identifier}}');">Enter verification code</a></li>
                  <li><a href="javascript:identifier_resend_verification_code('{{identifier}}');">Resend verification code</a></li>
                {{/unless}}
                {{#if verified_not_primary}}
                  <li><a href="javascript:identifier_set_primary('{{identifier}}');">Set as primary identifier</a></li>
                {{/if}}
                <li><a href="javascript:identifier_remove_modal('{{identifier}}');" class="dropdown_danger">Delete</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>
    {{/each}}
  </ul>
{{/if}}

<a href="javascript:identifier_add();" class="btn btn-default">Add a new identifier</a>

<!-- Modals -->
  <div class="modal" id="identifiersAddIdentifierModal" tabindex="-1" role="dialog" aria-labelledby="identifiersAddIdentifierModalTitle">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="identifiersAddIdentifierModalTitle">Add identifier</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="identifiersAddIdentifierModalEmail">Email address</label>
              <input type="email" class="form-control" id="identifiersAddIdentifierModalEmail" placeholder="Email">
            </div>
            <div class="form-group">
              <label for="identifiersAddIdentifierModalPassword">Password</label>
              <input type="password" class="form-control" id="identifiersAddIdentifierModalPassword" placeholder="Password">
            </div>
            <div class="form-group">
              <label for="identifiersAddIdentifierModalPassword2">Password (again)</label>
              <input type="password" class="form-control" id="identifiersAddIdentifierModalPassword2" placeholder="Password">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <a href="javascript:identifier_add_submit();" role="button" class="btn btn-primary">Add</a>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="identifiersRemoveIdentifierModal" tabindex="-1" role="dialog" aria-labelledby="identifiersRemoveIdentifierModalTitle">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="identifiersRemoveIdentifierModalTitle">Remove identifier</h4>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to remove <span id="identifiersRemoveIdentifierModalIdentifier"></span> from your account?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <a href="javascript:identifier_remove();" role="button" class="btn btn-danger">Remove</a>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="identifiersChangePasswordModal" tabindex="-1" role="dialog" aria-labelledby="identifiersChangePasswordModalTitle">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="identifiersChangePasswordModalTitle">Change password for <span id="identifiersChangePasswordModalIdentifier"></span></h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="identifiersChangePasswordModalPassword">Password</label>
              <input type="password" class="form-control" id="identifiersChangePasswordModalPassword" placeholder="Password">
            </div>
            <div class="form-group">
              <label for="identifiersChangePasswordModalPassword2">Password (again)</label>
              <input type="password" class="form-control" id="identifiersChangePasswordModalPassword2" placeholder="Password">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <a href="javascript:identifier_change_pwd();" role="button" class="btn btn-primary">Change</a>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="identifiersVerifyIdentifierModal" tabindex="-1" role="dialog" aria-labelledby="identifiersVerifyIdentifierModalTitle">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="identifiersVerifyIdentifierModalTitle">Verify <span id="identifiersVerifyIdentifierModalIdentifier"></span></h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="identifiersVerifyIdentifierModalToken">Token</label>
              <input type="text" class="form-control" id="identifiersVerifyIdentifierModalToken" placeholder="Enter the token you received via email">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <a href="javascript:identifier_verify();" role="button" class="btn btn-primary">Verify</a>
        </div>
      </div>
    </div>
  </div>
